#gridPane{
    -fx-background-image: url('/Board/SantoriniBoardOnly.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#board{
    -fx-background-image: url('/Board/BigBoard.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#NotificationsBackground{
    -fx-background-color:#95df8f;
    -fx-background-radius: 25px;
}

#playerNameLabel{
    -fx-background-color:#95df8f;
    -fx-background-radius: 25px
}

#godDescriptionBackground{
    -fx-background-color:#95df8f;
    -fx-background-radius: 25px;
}

#moveButton{
    -fx-background-image: url('/components/moveButtonNotSelected.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
 }

#buildButton{
    -fx-background-image: url('/components/buildButtonNotSelected.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#declineButton{
    -fx-background-image: url('/components/declineButton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#domeButton{
    -fx-background-image: url('/components/domeButton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

